.container {
 max-width: 900px;
 background-color: #ffffff;
 margin: 0 auto;
 padding: 0 60px;
 display: grid;
 grid-template-columns: 25% 25% 25% 25%;
 grid-template-rows: 50px auto 50px;
 grid-template-areas:
   "header header header header"
   "main main main main"
   "footer footer footer footer";
}

header {
  display: grid;
  grid-area: "header";
  padding: 20px 0;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-template-columns: 1fr 1fr;
  background-image:linear-gradient( to right, rgba(3,169,244, 0.5), rgba(2,136,209, 0.8)), url('../img/macbook1.jpg');
  background-size:cover;
  background-position: center;
}

header nav{
  justify-self: end;
  padding: 0 10px;
  margin: 0 10px;
}

.hero {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 6;
}

.hero .hero-content {
  text-align: center;
  color: #ffffff;
}

.heading-pri {
  color: #ffffff;
  text-transform: uppercase;

}

.hero-main {
  display: block;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 10px;
}

.hero-sub {
  display: block;
  font-size: 20px;
  font-family: sans-serif;
}

.blog-feature {

display: grid;
grid-column-start: 1;
grid-column-end: 6;
grid-area: "main";
padding: 20px;
text-align: center;
border: 5px #03a9f4 solid;
}

h2, h3, h4 .blog-feature {
color: #757575;
font-family: "Roboto Slab", sans-serif;
font-weight: bold;
}


/* footer section */
footer {
  background-color: #03a9f4;
  color: #ffffff;
  display: grid;
  font-size: 10px;
  font-weight: 300;
  grid-area: "footer";
  grid-column-start: 1;
  grid-column-end: 6;
  grid-template-rows: 1fr 1fr;
  text-align: center;
}

footer .social{
  justify-self: start;
  margin: 0 10px;
  padding: 0 10px;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
}

footer .copy {
  justify-self: center;
  padding: 0 10px;
  display: grid;
  grid-column-start: 2;
  grid-column-end: 4;
}

footer .quote {
  justify-self: end;
  padding: 0 10px;
  display: grid;
  grid-column-start: 4;
  grid-column-end: 6;
  padding: 0 20px;
  margin-right: 10px;
}
